<div class="app-screen">
    
    <div class="app-header">
        
        <a class="button-60 menu-icon hamburger-icon flex flex-all-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"/>
                <line x1="3" y1="6" x2="21" y2="6"/>
                <line x1="3" y1="18" x2="21" y2="18"/>
            </svg>
        </a>
        
        <div class="flex">

            <div class="title flex-auto flex flex-center text-nowrap">

                Insights

            </div>

            <div class="flex-none">
                
                
                
            </div>

        </div>
        
    </div>
    
    <div class="app-content pad-side-20">
        
        <div class="pad-updown-20">
            
            <p>Track your expenses</p>
            
        </div>
        
    </div>

</div>

<div class="insert-app-drawer"></div>