<div class="app-screen">
    
    <div class="app-header">
        
        <a class="button-60 menu-icon hamburger-icon flex flex-all-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"/>
                <line x1="3" y1="6" x2="21" y2="6"/>
                <line x1="3" y1="18" x2="21" y2="18"/>
            </svg>
        </a>
        
        <div class="flex">

            <div class="title flex-auto flex flex-center text-nowrap">

                My Receipts

            </div>

            <div class="flex-none">
                
                <span class="button-box">
                    <a class="button-60 flex flex-all-center search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="10.5" cy="10.5" r="7.5"/>
                            <line x1="21" y1="21" x2="15.8" y2="15.8"/>
                        </svg>
                    </a>
                </span>
                
                <span class="button-box">
                    <a class="button-60 flex flex-all-center filter-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
                        </svg>
                    </a>
                </span>
                
            </div>

        </div>
        
    </div>
    
    <div class="app-content">
        
        <div>
            
            <div class="update-loader flex flex-all-center">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <polyline points="23 4 23 10 17 10" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                        <path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    </svg>
                </div>
            </div>
            
            <div class="receipts-listing center-align"></div>
            
            <div class="infinite-loader flex flex-all-center set-transitions">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <polyline points="23 4 23 10 17 10" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                        <path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    </svg>
                </div>
            </div>
            
        </div>
        
    </div>

</div>

<div class="insert-filter-drawer"></div>

<div class="insert-app-drawer"></div>