<div class="single-receipt-frame">

    <div class="head">

        <div class="app-header no-pad">

            <div class="flex">

                <span class="button-box">
                    <a class="button-60 flex flex-all-center go-back">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="15 18 9 12 15 6"/>
                        </svg>
                    </a>
                </span>

                <div class="title flex-auto flex flex-center text-nowrap">
                    <div class="margin-auto">Tax Invoice</div>
                </div>

                <div class="flex-none">

                    <span class="button-box">
                        <a class="button-60 flex flex-all-center options">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="2"/>
                                <circle cx="12" cy="4" r="2"/>
                                <circle cx="12" cy="20" r="2"/>
                            </svg>
                        </a>
                    </span>

                </div>

            </div>

        </div>

    </div>
    
    <div class="receipt-viewer">
        
        <div class="upper">
            
            <div class="store-details">
                
                <div class="store-logo"></div>
                
                <p class="store-name">Store name</p>
                <p class="small store-address text-nowrap">Store address</p>
                <p class="small store-abn">ABN102030405</p>
                
            </div>
            
            <div class="receipt-details"></div>
            
        </div>
        
        <div class="lower pad-updown-20">
            
            <div class="zigzag-graphic"></div>
            
            <div class="receipt-table pad-side-20">
                
                <div class="flex cost-line receipt-head">
                    <div class="name">Item</div>
                    <!--<div class="unit">Qty</div>-->
                    <div class="cost">Price</div>
                </div>
                
                <div class="receipt-items"></div>
                
            </div>
            
            <div class="receipt-total pad-side-20 flex">
                
                <div class="flex-auto"><p class="right-align">Total</p></div>
                
                <div class="flex-none"><p class="right-align receipt-cost">$00.00</p></div>
                
            </div>
            
        </div>
        
    </div>
    
</div>